:root {
	/*colors*/
	--dark-blue: #091540;
	--light-grey: #f8f7f9;
	--dark-blue-light: #082a3a;
	--dark-fade: #222;
	--white: #fff;
	--white-dirty: #f7f6dd80;
	--gray: rgb(163, 162, 162);
	--blue: blue;
	--violet-anashei: #7c2f8a;
	/*shadows*/
	--shadow-sm: 4px 4px 8px rgba(51, 51, 51, 0.5);
	--shadow-solid: 2px 2px 0 rgba(255, 255, 255, 0.5);
	/*borders radius*/
	--radius-sm: 0.3em;
}
